{% extends 'base.html' %}
{% load static %}


{% block title %}
首页
{% endblock %}

{% block style %}
<style>
    .subject {
        /* border: 1px solid red; */
        background-color: whitesmoke;
    }

    h4 {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block main %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">教学大纲管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/subject">首页</a></li>
                <li><a href="#">用户</a></li>
                <li><a href="#">登陆</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>学科详情</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 subject">
            <ul class="list-group"></ul>
            <section>
                <li class="list-group-item">
                    <h4>学科名称:</h4>
                    <h5>{{subject.name}}</h5>
                    <h4>学费:</h4>
                    <h5>{{subject.amount}}</h5>
                    <h4>学时:</h4>
                    <h5>{{subject.days}}</h5>
                    <h4>承诺:</h4>
                    <h5>{{subject.assurance}}</h5>
                    <h4>备注</h4>
                    <h5>{{subject.remark}}</h5>
                </li>
            </section>
            </ul>
        </div>
    </div>
</div>

{% endblock %}