{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title}}</h1>
    <p class="date">
    发布日期：{{ post.publish }}
    作者：{{ post.author }}
    </p>
    {{ post.boby|linebreaks }}
     <a href="{%url 'blog:post_share'  post.id%}">
    <p>zy</p>
    </a>

    <h2>你可能喜欢的文章</h2>
        {% for post in similar_posta %}
            <p>
                <a href="{{ post.get_abolute_url  }} ">{{ post.title }}</a>
            </p>
        {% empty %}
            <h2>没有相似的文章</h2>
        {% endfor %}



    <h2>
    总供{{comments.count}}评论
    </h2>
    {% for comment in comments %}
        <div class="comment">
        <p class="info">
            第{{ forloop.counter }}条评论，评论人{{ comment.name }}
            {{ comment.creater }}
        </p>
        {{ comment.body|linebreaks }}
        </div>
        <p>这篇文章还没有任何评论</p>
    {% endfor %}
    {% if new_comment %}
        <h2>你的品论已添加</h2>
    {% else %}
        <h2>添加一个新的评论</h2>
        <form action="." method="post">

        {{ comments_form.as_table }}
            {# {% csrf_token %} #}
            <input type="submit" value="添加评论">
        </form>
    {% endif %}

{% endblock %}