{% extends 'df_goods/base_goods.html' %}
{% block head %}
    <script>
        $(function () {
            $('.add_goods').click(function () {
                {# 商品id和商品数量(默认1件) #}
                goodsid = $(this).attr('id');
                url = '/cart/add/'+goodsid+'/'+'1'+'/';
                $.get(url, function (data) {
                    $('#show_count').text(data.count);
                });
            });
        });
    </script>
{% endblock %}
{% block list %}
<div class="r_wrap fr clearfix">
    <div class="sort_bar">
        <a href="/goods/list/{{ typeinfo.id }}/1/default/" {% if sort_type == 'default' %}class="active"{% endif %}>默认</a>
        <a href="/goods/list/{{ typeinfo.id }}/1/price/" {% if sort_type == 'price' %}class="active"{% endif %}>价格</a>
        <a href="/goods/list/{{ typeinfo.id }}/1/hot/" {% if sort_type == 'hot' %}class="active"{% endif %}>人气</a>
    </div>

    <ul class="goods_type_list clearfix">
        {% for goods in page.object_list %}
            <li>
                <a href="/goods/{{ goods.id }}/"><img src="/static/{{ goods.g_pic }}"></a>
                <h4><a href="/goods/{{ goods.id }}/">{{ goods.g_title }}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{ goods.g_price }}</span>
                    <span class="unit">{{ goods.g_unit }}</span>
                    <a href="#" class="add_goods" title="加入购物车" id="{{ goods.id }}"></a>
                </div>
            </li>
        {% endfor %}

    </ul>
    <div class="pagenation">
        {% if page.has_previous %}
            <a href="/goods/list/{{ typeinfo.id }}/{{ page.previous_page_number }}/{{ sort_type }}/">上一页</a>
        {% endif %}
        {% for page_number in page.paginator.page_range %}
        {% if page_number == page_num %}
            <a href="/goods/list/{{ typeinfo.id }}/{{ page_number }}/{{ sort_type }}/" class="active">{{ page_number }}</a>
        {% else %}
            <a href="/goods/list/{{ typeinfo.id }}/{{ page_number }}/{{ sort_type }}">{{ page_number }}</a>
        {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="/goods/list/{{ typeinfo.id }}/{{ page.next_page_number }}/{{ sort_type }}/">下一页</a>
        {% endif %}
    </div>
</div>
{% endblock %}
