{% extends 'base.html' %}

{% block title %}
    {{ image.title }}
{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <img src="{{ image.image.url }}" alt="" class="image-detail">
    {% with total_likes=image.user_like.count  %}
        <div class="image-info">
            <div class="">
                <span class="count">
                    {{ total_likes }} 人 <text style="color: red">❤</text>
                </span>
                {{ image.description|linebreaks }}
            </div>
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}" alt="">
                    <p>{{ user.username }}</p>
                </div>
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}