{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block link %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>
        {% block title %}
            注册
        {% endblock %}
    </title>
    {% block style %}
        <style>
        .container
        {
            margin-top: 60px;
        }
        .form-horizontal{
            position: relative;
            left:-6%;
        }
        .captcha{
            width:70px;
            height:35px;
        }
        #right{
            position: relative;
            left:130px;
        }
        #show{
            color:gray;
        }
    </style>
    {% endblock%}
</head>
<body>
    {% block main %}
     <div class="container">

        <h2 class="text-center">请输入注册信息</h2>
        <form class="form-horizontal" role="form" action="{% url 'register' %}" method="POST">
            {% csrf_token %}

              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                  <input name="email" type="text" class="form-control" id="inputEmail" placeholder="请输入邮箱">
                </div>
              </div>


              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input name="password" type="text" class="form-control" id="inputPassword" placeholder="请输入密码">
                </div>
              </div>

              <div id="right" class="form-group">
                  <div class="col-sm-10">
                      {{register_form.captcha}}
                      <label for="" id="show"></label>
                  </div>
              </div>

               <div class="form-group">
                   <h3>{{register_form.errors.email}}</h3>
                   <h3>{{register_form.errors.password}}</h3>
                   <h3>{{register_form.errors.captcha}}</h3>
                   <h3>{{msg}}</h3>
               </div>


              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button  type="submit" class="btn btn-default btn-success btn-block">注 册</button>
                </div>
              </div>
            </form>
     </div>

    {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
   {% block script %}
     <script>
//        验证码是否过期
        var oldValue = false
        var seconds = 5
        var timeInterval = null
        $(function(){
//            cursor:url('cursor.png') auto
            $('.captcha').css('cursor','pointer')
            $('.captcha').click(function(){
                showNewCode()
            })
        })

        function showNewCode(){
            oldValue = false
            seconds = 5

            window.clearInterval(timeInterval)
//         请求验证码地址 获取最新的验证码图片以及验证码内容
             $.getJSON('/captcha/refresh/',function (data) {
                    console.log(data)
//                    attribute 属性
//                    更新验证码图片
                    $('.captcha').attr('src',data['image_url'])
//                    更新验证码值
                    $('#id_captcha_0').val(data['key'])

                    timeInterval = setInterval(function(){
                         seconds --
                        $('#show').text(seconds + 's')
                        if (seconds  <  0)
                        {
                            oldValue = true
                            $('#show').text('')
                        }
                    },1000)
                })
        }

        $('#id_captcha_1').click(function(){
            if (oldValue == true)
            {
                alert('验证码已过期')
                showNewCode()
            }

        })
    </script>
    {% endblock %}
</body>
</html>