{% extends 'base.html' %}
{% load static %}


{% block title %}
首页
{% endblock %}

{% block style %}
<style>
      .foodsection {
            /* border: 1px solid red; */
            background-color: whitesmoke;
      }

      .container {
            margin-bottom: 20px;
      }

      section {
            width: 100%;
      }

      img,
      h4,
      h5 {
            text-align: center;
      }

      img {
            width: 250px;
            margin: 10px auto 0;
      }
</style>
{% endblock %}

{% block main %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">主页</a>
            </div>
            <div>
                  <ul class="nav navbar-nav">
                        <li class="active"><a href="#">iOS</a></li>
                        <li><a href="#">SVN</a></li>
                        <li style="float:right"><a href="">当前用户:{{email}}</a></li>
                  </ul>
            </div>
      </div>
</nav>
<div class="container">

      <div class="row">
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <a href="/foodinfo/?email={{email}}"><img src="{% static 'food.png' %}" alt=""></a>
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <a href="/foodinfo/?email={{email}}"><img src="{% static 'food.png' %}" alt=""></a>
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>

            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <a href="/foodinfo/?email={{email}}"><img src="{% static 'food.png' %}" alt=""></a>
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <a href="/foodinfo/?email={{email}}"><img src="{% static 'food.png' %}" alt=""></a>
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
      </div>
</div>
<div class="container">

      <div class="row">
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>

            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
      </div>
</div>
<div class="container">

      <div class="row">
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>

            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
            <div class="col-xs-6 col-sm-3 foodsection">
                  <section>
                        <img src="{% static 'food.png' %}" alt="">
                        <h4>商品标题</h4>
                        <h5>店铺地址&#x3000;&#x3000;&#x3000;&#x3000;评价</h5>
                  </section>
            </div>
      </div>
</div>
{% endblock %}