<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>

<body>
    <form action="/login/login/" method="POST">
        {% csrf_token %}
        <input name="email" type="text" placeholder="请输入邮箱">
        <br>
        <input name="password" type="text" placeholder="请输入密码">
        <br>
        <a href="/login/regist/">注册账号</a>
        <a href="/login/forget/">忘记密码</a>
        <h4>{{login_form.errors.email}}</h4>
        <h4>{{login_form.errors.password}}</h4>
        <h4>{{msg}}</h4>

        <button type="submit">登陆</button>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    </form>
</body>

</html>