{% extends 'base.html' %}
{% load myfilter %}
{% block type %}
    天气查询
{% endblock %}

{% block submit %}
<button id="submit" type="submit" class="btn btn-default">天气查询</button>
{% endblock %}

{% block main %}
    <div class="container">
        <h1 id="city">城市 :{{json | find_city}}</h1>
        <h1 id="date">日期 :{{json | find_date}}</h1>
        <h1 id="temperature">温度 :{{json | find_temperature}}</h1>
    </div>
{% endblock %}

{% block script %}
<script>
    $('#submit').click(function (event) {
        event.preventDefault()
        var city = $('#input').val()
        $.get('/weather/',{'city':city},function (data,status) {
            $('#city').text('城市 :' + data.json.results[0].currentCity)
            $('#date').text('日期 :' + data['json']['results'][0]['weather_data'][0]['date'])
            $('#temperature').text('温度 :' + data.json.results[0].weather_data[0].temperature)
        })
    })
</script>
{% endblock %}
