{% extends 'base.html' %}

{% block title %}
二级大纲添加
{% endblock %}

{% block style %}
<style>
    .container {
            position: relative;
        }

        #loginname {
            position: absolute;
            right: 0;
        }
        h2{
            margin: 0;
            padding: 12px 0;
            background-color: lightgray;
            font-size: 20px;
        }
        .navbar{
            margin-bottom: 0;
        }
        form{
            padding-left: 200px;
        }
    </style>
{% endblock %}

{% block main %}
<h2>
    <div class="container">
        <div>二级大纲添加</div>
    </div>
</h2>
<div class="container">
    <form class="form-horizontal" role="form" action="{% url 'program:add' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="outline_id" value="{{outline_id}}">
        <br>
        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">排序</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="number" id="number" placeholder="">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="sign" class="col-sm-2 control-label">标志性内容</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="sign" id="sign" placeholder="">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="digest" class="col-sm-2 control-label">内容摘要</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="digest" id="digest" placeholder="">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="prepare" class="col-sm-2 control-label">准备工作</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="prepare" id="prepare" placeholder="">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="process" class="col-sm-2 control-label">讲课流程</label>
            <div class="col-sm-10">
                <textarea name="process" id="process" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="attention" class="col-sm-2 control-label">注意事项</label>
            <div class="col-sm-10">
                <textarea name="attention" id="attention" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="exercise" class="col-sm-2 control-label">课后作业</label>
            <div class="col-sm-10">
                <textarea name="exercise" id="exercise" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="share" class="col-sm-2 control-label">学生分享</label>
            <div class="col-sm-10">
                <textarea name="share" id="share" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="management" class="col-sm-2 control-label">管理事项</label>
            <div class="col-sm-10">
                <textarea name="management" id="management" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <textarea name="remark" id="remark" cols="70" rows="5" placeholder=""></textarea>
            </div>
        </div>
        <br>
        {% if msg %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-setsize="30px" aria-hidden="true">&times;</button>
            {{msg}}
        </div>
        {% endif %}
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-success btn-block">添加</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}