{% extends 'base.html' %}

{% block title %}
登陆
{% endblock %}

{% block content %}
    <h1>登陆</h1>
    {% if form.errors %}
        <p>你的用户名和密码不匹配,请重试!</p>
    {% else %}
        <p>请输入用户名和密码登陆:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="登陆"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">忘记密码</a></p>
    </div>
{% endblock %}